<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>Welcome, <%= user.username %>!</h1>
    <p>Click on the link to <a href="/upload">upload a new file</a>.</p>
  </body>
</html>
