<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload File</title>
  </head>
  <body>
    <h1>Upload a File</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label for="folder">Folder:</label>
      <select name="folder" id="folder">
        <option value="none" selected>None</option>
        <% folders.forEach(folder => { %>
            <option value="<%= folder.id %>"><%= folder.name.toUpperCase() %></option>
        <% }) %>
      </select>
      <label for="files">Choose Files:</label>
      <input type="file" name="files" id="files" multiple />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
